<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arjun.offersonthego">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_Result"
            android:label="@string/title_activity_search__result"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.MainActivity" />
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.MainActivity" />
        </activity>
        <activity
            android:name=".product_Details"
            android:label="@string/title_activity_product__details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.MainActivity" />
        </activity>
        <activity
            android:name=".sellerOptions"
            android:label="@string/title_activity_seller_options"
            android:parentActivityName=".login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.login" />
        </activity>
        <activity
            android:name=".addProduct"
            android:label="@string/title_activity_add_product"
            android:parentActivityName=".sellerOptions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.sellerOptions" />
        </activity>
		 <activity
            android:name=".Update_product"
            android:label="@string/title_activity_update_products"
            android:parentActivityName=".Seller_products"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.Seller_products" />
        </activity>
        <activity
            android:name=".Seller_products"
            android:label="@string/title_activity_seller_products"
            android:parentActivityName=".sellerOptions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arjun.offersonthego.sellerOptions" />
        </activity>
    </application>

</manifest>
